* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f8fc;
    color: #111827;
}

.app {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 220px;
    min-height: 100vh;

    background-color: #FFFFFF;
    border-right: 1px solid #C5C6C8;

    padding: 24px 20px;

    display: flex;
    flex-direction: column;

    flex-shrink: 0;
    gap: 32px;
}

.logo {
    display: flex;
    gap: 0;
    align-items: center;
}

.logo-icon {
    width: 32px;
    height: 32px;

    background-color: #7047eb;
    color: #ffffff;

    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-text {
    font-size: 24px;
    font-weight: 700;
    color: #111827;
}

.navigation {
    display: flex;
    flex-direction: column;

    gap: 10px;
    flex: 1;
}

.nav-item {
    display: flex;
    align-items: center;

    gap: 10px;
    padding: 0 10px;

    border-radius: 9px;
    color: #30364d;

    text-decoration: none;

    font-size: 14px;
    font-weight: 500;
}

.nav-item.active {
    background-color: rgb(143 88 251 / 15%);
    color: #6D4AFF;
    font-weight: 600;
}

.nav-item:hover {
    background-color: rgb(143 88 251 / 10%);
}

.nav-item.nav-item.active:hover {
    background-color: rgb(143 88 251 / 18%);
}

.nav-icon {
    width: 14px;
    text-align: center;
}

.nav-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-divider {
    height: 1px;
    background-color: #C5C6C8;
}

.nav-button {
    margin-top: auto;

    display: flex;
    flex-direction: column;

    gap: 10px;
}

.main {
    flex: 1;
    min-width: 0;

    display: flex;
    flex-direction: column;

    gap: 24px;
    padding: 32px 36px;

    background-color: #EFF2F4;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
}

.header-text {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.header-text h1 {
    font-size: 32px;
    font-weight: 700;
    color: #111827;

    margin: 0;
}

.header-text p {
    margin: 0;

    font-size: 15px;
    font-weight: 400;
    color: #747B91;
}

.header-actions {
    display: flex;
    align-items: self-end;

    gap: 59px;
}

.primary-button {
    padding: 12px 20px;
    
    background-color: #7047EB;
    color: #FFFFFF;

    border-radius: 10px;
    border: none;

    font-size: 14px;
    font-weight: 600;
    
    cursor: pointer;
}

.icon-button {
    width: 36px;
    height: 36px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #FFFFFF;
    border-radius: 10px;

    cursor: pointer;
}

.avatar {
    width: 36px;
    height: 36px;
    border-radius: 999px;

    cursor: pointer;
}

.filters{
    display: flex;
    align-items: center;
    
    justify-content: space-between;
    padding: 20px 20px;

    background-color: #ffffff;
    border: 1px solid #E8EAF1;
    border-radius: 16px;
}

#searchInput {
    width: 482px;
    height: 46px;

    background-color: #F8F9FC;
    border: 1px solid #E6E8F0;
    border-radius: 10px;
    padding: 0 16px;

    font-size: 14px;
    font-weight: 400;
    color: #9AA0B5;
}

#searchInput::placeholder {
    color: #9AA0B5;
}

#searchInput:focus {
    outline: none;
    background-color: #8F58FB;
    box-shadow: 0 0 0 3px rgb(143 88 251 / 15%);
}

.filters select {
    width: 190px;
    height: 46px;

    padding: 0 16px;

    background-color: #ffffff;
    border: 1px solid #E6E8F0;
    border-radius: 10px;

    font-size: 14px;
    color: #000000;

    cursor: pointer;
}

.filters select:focus {
    outline: none;
    background-color: #8F58FB;
    box-shadow: 0 0 0 3px rgb(143 88 251 / 15%);
}

.stats {
    display: flex;
    gap: 16px;
    width: 100%;
}

.stat-card {
    flex: 1;
    min-width: 0;

    display: flex;
    align-items: center;

    gap: 10px;
    padding: 20px 20px;

    border: 1px solid #C5C6C8;
    border-radius: 14px;
}

.stat-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 49px;

    border-radius: 999px;
    color: #FFFFFF;

    flex-shrink: 0;
}

.stat-content {
    display: flex;
    flex-direction: column;

    gap: 0;
}

.stat-label {
    font-size: 14px;
    font-weight: 700;
    color: #747B91;
}

.stat-value {
    font-size: 28px;
    font-weight: 700;
    color: #111827;
}

.stat-note {
    font-size: 12px;
    font-weight: 700;
}

.stat-card.total {
    background-color: rgb(183 0 255 / 4%);
}

.stat-card.total .stat-icon {
    background-color: #7047EB;
}

.stat-card.total .stat-note {
    color: #7047EB;
}

.stat-card.completed {
    background-color: rgb(0 255 17 / 4%);
}

.stat-card.completed .stat-icon {
    background-color: #42A63C;
}

.stat-card.completed .stat-note {
    color: #42A63C;
}

.stat-card.progress {
    background-color: rgb(255 195 0 / 4%);
}

.stat-card.progress .stat-icon {
    background-color: #EA9D45;
}

.stat-card.progress .stat-note {
    color: #EA9D45;
}

.stat-card.planned {
    background-color: rgb(0 72 255 / 4%);
}

.stat-card.planned .stat-icon {
    background-color: #3D84E0;
}

.stat-card.planned .stat-note {
    color: #3D84E0;
}

.stat-card.favorite {
    background-color: rgb(255 0 72 / 4%);
}

.stat-card.favorite .stat-icon {
    background-color: #E03D79;
}

.stat-card.favorite .stat-note {
    color: #E03D79;
}

.collection {
    display: flex;
    flex-direction: column;

    gap: 10px;
    padding: 10px 10px;

    background-color: #FAF9F9;
    border: 1px solid #E7E9F0;
    border-radius: 8px;
}

.collection-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collection-title {
    display: flex;
    align-items: center;

    gap: 10px;
}

.collection-title h2 {
    margin: 0;

    font-size: 20px;
    font-weight: 700;
    color: #000000;
}

.collection-count {
    padding: 0 14px;

    background-color: #DDDDDD;
    border-radius: 999px;

    font-size: 13px;
    font-weight: 700;
    color: #4C4C4C;
}

.collection-controls {
    display: flex;
    align-items: center;

    gap: 18px;
}

.view-button {
    width: 41px;
    height: 38px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #FFFFFF;
    border: 1px solid #C7C7C7;
    border-radius: 9px;
    gap: 0;

    color: #4B4848;

    cursor: pointer;
}

.items-per-view {
    height: 41px;

    padding: 0 15px;

    background-color: #FFFFFF;
    border: 1px solid #C7C7C7;
    border-radius: 9px;

    font-size: 14px;
    font-weight: 700;
    color: #4B4848;

    cursor: pointer;
}

.cards-message {
    grid-column: 1 / -1;

    padding: 0;
    text-align: center;

    font-size: 14px;
    font-weight: 400;
    color: #4B4848;
}

.cards-message {
    grid-column: 1 / -1;

    text-align: center;

    font-size: 20px;
    font-weight: 500;
    color: #4C4C4C;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 5px 11px;
}

.card {
    display: flex;

    gap: 10px;
    padding: 18px 18px;

    background-color: #FFFFFF;
    border: 1px solid #E7E9F0;
    border-radius: 16px;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 7%);
}

.card-cover {
    width: 100px;
    height: 150px;

    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #E6E8EE;
    border-radius: 10px;

    text-align: center;
}

.card-info {
    display: flex;
    flex-direction: column;

    gap: 7px;
    flex: 1;
    padding: 5px 10px;
    min-width: 0;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.card-title {
    margin: 0;
    overflow-wrap: anywhere;

    font-size: 16px;
    font-weight: 700;
    color: #111827;
}

.card-actions-top {
    display: flex;
    align-items: center;

    gap: 19px;
}

.favorite-button, .more-button {
    border: none;
    background: none;
    padding: 0;

    color: #30364D;

    cursor: pointer;
}

.type-badge {
    align-self: flex-start;

    padding: 5px 10px;
    border-radius: 999px;

    font-size: 12px;
    font-weight: 700;
}

.type-badge.game {
    background-color: #EFE7FF;
    color: #7047EB;
}

.type-badge.movie {
    background-color: #E7E9FF;
    color: #474AEB; 
}

.type-badge.book {
    background-color: #CFF2EA;
    color: #31B99E;
}

.status-badge {
    align-self: flex-start;

    padding: 5px 10px;
    border-radius: 999px;

    font-size: 12px;
    font-weight: 700;
}

.status-badge.planned {
    background-color: rgb(0 72 255 / 11%);
    color: #3D84E0;
}

.status-badge.in_progress {
    background-color: #FFF4D6;
    color: #C98700;
}

.status-badge.completed {
    background-color: #D6FFDB;
    color: #15810F;
}

.rating {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.rating-label {
    font-size: 12px;
    font-weight: 700;
    color: #747B91;
}

.rating-value {
    font-size: 16px;
    font-weight: 700;
    color: #747B91;
}

.add-menu {
    position: relative;
}

.modal {
    display: none;

    position: absolute;

    top: calc(100% + 12px);
    right: 0;

    z-index: 1000;
}

.modal-fields {
    width: 100%;

    display: flex;
    flex-direction: column;

    gap: 21px;
}

.modal-panel {
    position: relative;

    width: 450px;
    max-width: calc(100vw - 32px);

    display: flex;
    flex-direction: column;

    gap: 21px;
    padding: 20px;

    background-color: #FFFFFF;
    border: 1px solid #C6C6C8;
    border-radius: 16px;

    box-shadow: 
        4px 0 4px 0 rgb(0 0 0 / 15%), 
        0 4px 4px 0 rgb(0 0 0 / 15%);
}

.modal-panel::before {
    content: "";
    position: absolute;

    width: 20px;
    height: 20px;

    top: -11px;
    right: 60px;

    background-color: #FFFFFF;

    border-left: 1px solid #C6C6C8;
    border-top: 1px solid #C6C6C8;

    transform: rotate(45deg);

    box-shadow: -2px -2px 3px rgb(0 0 0 / 6%);
}

.modal-header-text {
    display: flex;
    flex-direction: column;

    gap: 5px;
    align-items: flex-start;
}

.modal-header h2 {
    margin: 0;

    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0;

    color: #000000;
}

.modal-header p {
    margin: 0;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0;

    color: #9197AA;
}

.form-field {
    width: 100%;

    display: flex;
    flex-direction: column;

    gap: 10px;
}

.form-label {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0;

    color: #5C5C5C;
}

#titleInput {
    width: 100%;
    height: 38px;

    padding: 0 16px;

    border: 1px solid #C6C6C8;
    border-radius: 10px;

    background-color: #FFFFFF;
}

#titleInput::placeholder {
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0;

    color: #9AA0B5;
}

#titleInput {
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 600;

    color: #000000;
}

.form-row {
    width: 100%;
    display: flex;

    gap: 10px;
}

.form-row .form-field {
    flex: 1;
    min-width: 0;
}

.form-field select {
    width: 100%;
    height: 44px;

    padding: 0 6px;

    background-color: #FFFFFF;

    border: 1px solid #C6C6C8;
    border-radius: 10px;

    font-family: Inter, sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #000000;

    cursor: pointer;
}

#ratingInput {
    width: 100%;
    height: 38px;

    padding: 0 16px;

    background-color: #FFFFFF;
    border: 1px solid #C6C6C8;
    border-radius: 10px;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #5C5C5C;
}

#ratingInput::placeholder {
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 600;

    color: #9AA0B5;
}

.modal-footer {
    width: 100%;

    display: flex;
    align-items: center;

    gap: 32px;
}

.modal-footer .secondary-button,
.modal-footer .primary-button {
    flex: 1;
    height: 41px;
}

.modal-footer .secondary-button {
    height: 41px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;

    background-color: #FFFFFF;
    color: #000000;

    border: 1px solid #C6C6C8;
    border-radius: 10px;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 600;

    cursor: pointer;
}

.modal-footer .primary-button {
    height: 41px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;

    background-color: #7047EB;
    color: #FFFFFF;

    border: 1px solid #C6C6C8;
    border-radius: 10px;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 600;

    cursor: pointer;
}

.card-footer {
    margin-top: auto;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    gap: 10px;
    padding: 8px 12px;
}